body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #434455;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* #region header */

.header-container {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  justify-content: space-between;
  border-bottom: 1px solid #e7e9fc;
  align-items: center;
}

.logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.header-adress {
  font-style: normal;
}

.nav-header {
  display: flex;
  align-items: center;
}

.header .logo-header-style {
  color: #2e2f42;
}

.nav-list-header {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.nav-header-item {
}
.header-nav-item-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-nav-item-list:hover {
  color: #404bbf;
}

.header-nav-item-list:focus {
  color: #404bbf;
}

.header-adress-nav {
  display: flex;
  gap: 40px;
}
.header-adress-nav-item {
}
.header-adress-nav-item-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  align-items: center;
}

.header-adress-nav-item-list:hover {
  color: #404bbf;
}
.header-adress-nav-item-list:focus {
  color: #404bbf;
}

/* #endregion header */

/* #region section hero */

.hero {
  background: #2e2f42;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.hero-section {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 496px;
}

.hero-btn {
  display: block;
  margin: 48px auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.hero-btn:hover {
  background-color: #404bbf;
}
.hero-btn:focus {
  background-color: #404bbf;
}

/* #endregion section hero */

/* #region section-no-name */

.section-no-name {
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

.section-list {
}

.section-list-no-name {
  display: flex;
  gap: 24px;
}

.section-list-item {
}

.section-item-title {
  width: calc((100% - 72px * 3) / 4);
  gap: 24px;
  display: flex;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* #endregion section */

/* #region our-team */

.our-team {
  background-color: #f4f4fd;
}

.section-our-team {
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-list-our-team {
  display: flex;
  margin-top: 72px;
  gap: 24px;
}

.staff-description {
  display: flex;
  flex-direction: column;
  padding: 32px 0;
}

.section-item-title-our-team {
  display: flex;
  text-align: center;
  margin-bottom: 8px;
}

.section-list {
}

.section-list-item {
  background-color: #ffffff;
}
.section-item-title {
}
.section-item-text {
}

/* #endregion our-team */

/* #region section our portfolio */

.our-portfolio {
}
.section-title {
  line-height: 1.11;
}
.section-list {
}
.section-list-item {
}
.section-item-title {
}
.section-item-text {
}

/* endregion our portfolio */

/* #region footer */

.footer {
  background: #2e2f42;
}

.footer .logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-footer-style {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/* #endregion footer */
